
@{
    ViewBag.Title = "Staffs";
    ViewBag.SubTitle = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@section usage{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-datepicker3.css")" />
    <link href="@Url.Content("~/Content/css/MyCustomStyles.css")" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="btn btn-group" style="padding-left: 0">
            <a href="@Url.Action("Create", "Staffs")" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus">&nbsp;Create</i></a>
            @*<button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-eye-open">&nbsp;View</i></button>
                <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash">&nbsp;Delete</i></button>*@
        </div>
        <div class="btn btn-group pull-right" style="padding-right: 0">
            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-dashboard">&nbsp;Dashboard</i></a>
            <a href="#" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-home">&nbsp;Home</i></a>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/sweetalert2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/SweetAlertMethods.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Content/js/MyCustomJs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/schoolsession.js")"></script>
}