@using BLL
@model SCHERP.Models.PreAdmissionViewModel

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Pre-Admission";
    ViewBag.SubTitle = "New";
}

@section usage{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-datepicker3.css")" />
    <link href="@Url.Content("~/Content/css/MyCustomStyles.css")" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="btn btn-group" style="padding-left: 0">
            <a href="/preadmission/index" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-list-alt">&nbsp;List</i></a>
            @*<button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-eye-open">&nbsp;View</i></button>
                <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash">&nbsp;Delete</i></button>*@
        </div>
        <div class="btn btn-group pull-right" style="padding-right: 0">
            <a href="#" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-dashboard">&nbsp;Dashboard</i></a>
            <a href="#" class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-home">
                    &nbsp;Home
                </i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11 col-md-offset-1">

        @using (Html.BeginForm("Create", "PreAdmission", FormMethod.Post, new { @class = "form-horizontal page-form", @id = "pageForm", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="col-md-12">
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                            <p>Step 1: Basic Profile</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                            <p>Step 2: Primary Contact Details</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                            <p>Step 3: Admin Use</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">

                </div>

                @*<form role="form" method="post" action="@Url.Action("Create")" enctype="multipart/form-data" id="pageForm" class="page-form">*@
                <div class="row setup-content" id="step-1">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <div class="col-md-11 col-md-offset-1">
                                <h3> Basic Profile</h3>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            First Name: <span class="lblImportant">*</span><br />
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @required = "required", @type = "text", @autocomplete = "off", @placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            Surname: <span class="lblImportant">*</span><br />
                                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @required = "required", @type = "text", @autocomplete = "off", @placeholder = "Surname" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            Other Names: <br />
                                            @Html.TextBoxFor(m => m.OtherNames, new { @class = "form-control", @required = "required", @type = "text", @autocomplete = "off", @placeholder = "Other Names" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Select Gender: <span class="lblImportant">*</span><br />
                                            @{
                                                var selectList = new SelectList(
                                                    new List<SelectListItem>
                                                    {
                                                            new SelectListItem {Text = "Male", Value = "Male"},
                                                            new SelectListItem {Text = "Female", Value = "Female"},
                                                    }, "Value", "Text");
                                            }
                                            @Html.DropDownListFor(m => m.Gender, selectList, "Select Gender", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Date Of Birth:<span class="lblImportant">*</span><br />
                                            @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", @required = "required", @placeholder = "dd/mm/yyyy" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            State Of Origin: <span class="lblImportant">*</span><br />
                                            @{
                                                var sooRep = new SooRepository();
                                                var selectSoo = new SelectList(sooRep.GetAllStates().ToList(), "Id", "State");
                                            }
                                            @Html.DropDownListFor(m => m.Soo, selectSoo, "Select State", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            Child's Picture: <span class="lblImportant">*</span><br />
                                            <input required="required" id="Avatar" name="Avatar" type="file" class="file" data-preview-file-type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <button class="nextBtn pull-right btn-login" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <div class="col-md-11 col-md-offset-1">
                                <h3> Primary Contact Details</h3>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Title: <span class="lblImportant">*</span><br />
                                            <select required="required" name="ContactTitle" id="ddlContactTitle" class="form-control">
                                                <option value="0">Select Title</option>
                                                <option value="1">Mr.</option>
                                                <option value="2">Mrs.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Full Name: <span class="lblImportant">*</span><br />
                                            <input required="required" type="text" id="txtContactFullName" name="ContactFullName"
                                                   class="form-control" autocomplete="off" placeholder="Contact Fullname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Contact Phone Number: <span class="lblImportant">*</span><br />
                                            <input required="required" type="text" name="ContactPhone" id="txtContactPhone"
                                                   class="form-control"
                                                   autocomplete="off" placeholder="Contact Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            Contact Email: <br />
                                            <input type="email" name="ContactEmail" id="txtContactEmail"
                                                   class="form-control"
                                                   autocomplete="off" placeholder="Contact Phone Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            Contact Address:<span class="lblImportant">*</span><br />
                                            <textarea required="required" name="ContactAddress" id="txtContactAddress"
                                                      class="form-control textarea" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                Check/UnCheck: &nbsp;<br />
                                                <label>
                                                    <input name="IsCorrespondence" id="chkCorrespondence" type="checkbox" value="">Receive
                                                    Correspondence
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <button class="nextBtn pull-right btn-login" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-3">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3> Admin Use</h3>

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <button class="nextBtn pull-right btn-login" type="submit">Finish!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</form>*@
            </div>
                                                }


    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/sweetalert2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/SweetAlertMethods.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/canvas-to-blob.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/sortable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/purify.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/fileinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/fa/theme.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/js/MyCustomJs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/student_admission.js")"></script>
}

