
@{
    ViewBag.Title = "School Session";
    ViewBag.SubTitle = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section usage{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/sweetalert2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-datepicker3.css")" />
    <link href="@Url.Content("~/Content/css/MyCustomStyles.css")" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <div class="btn btn-group" style="padding-left: 0">
            <a href="@Url.Content("~/SchoolSession/Create")" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus">&nbsp;Create</i></a>
            @*<button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-eye-open">&nbsp;View</i></button>
                <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash">&nbsp;Delete</i></button>*@
        </div>
        <div class="btn btn-group pull-right" style="padding-right: 0">
            <a href="#" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-dashboard">&nbsp;Dashboard</i></a>
            <a href="#" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-home">&nbsp;Home</i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <td>Session</td>
                    <td>Year</td>
                    <td>Term</td>
                    <td>School Starts</td>
                    <td>School Ends</td>
                    <td>School Opens(days)</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var @s in @ViewBag.AllSession)
                    {
                        var start = Convert.ToDateTime(@s.SchoolStart);
                        var end = Convert.ToDateTime(@s.SchoolEnd);
                        TimeSpan dayDiff = (end - start);
                        <tr>
                            <td>@s.SessionL</td>
                            <td>@s.YearL</td>
                            <td>@s.Term</td>
                            <td>@s.SchoolStart.ToString("D")</td>
                            <td>@s.SchoolEnd.ToString("D")</td>
                            <td>~&nbsp;@dayDiff.Days</td>
                            <td>
                                <a href="@Url.Action("Edit", "SchoolSession", new {id = @s.Id})"><i class="glyphicon glyphicon-pencil"></i></a>
                                &nbsp;|&nbsp;
                                <a href="@Url.Action("Delete", "SchoolSession", new {id = @s.Id})"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>


        </table>

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/sweetalert2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/SweetAlertMethods.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Content/js/MyCustomJs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/schoolsession.js")"></script>
}